/*------------------------------------*\
    Typos
\*------------------------------------*/
/**
 * Typos : gestions des typos
 * 
 */

/**
 * 1. Put the base font-size at 14px
 */
body {
  @include font-size($base-font-size); /* 1 */
  background: white;
}

/**
 * Font-sizing for content
 * Preserves vertical-rythm
 * Source: http://soqr.fr/vertical-rhythm/ 
 */
p, ul, ol, dl,
blockquote, pre,
td, th,
label, textarea,
caption, figure {
  line-height: $base-line-height;
  margin: .75em 0 0;
}

$headings-size: $h1-size $h2-size $h3-size $h4-size $h5-size $h6-size;

@for $i from 1 through length($headings-size) {
  $selector    : "h#{$i}, .h#{$i}-like";
  $visual      : nth($headings-size, $i);
  
  #{$selector} {
    margin: 21px / $visual * 1em (0) (0) (0);
    font-family: $hn-font-family;
    @include font-size($visual);
  }
}