/*------------------------------------*\
    base
\*------------------------------------*/
/**
 * Base : Définition des variables et autres déclarations
 * utiles au projet en cours
 * 
 */


/* Color */
$color-a : #96ca2d;
$color-b : #4bb5c1;
$color-c : #e4dfc1;
$color-d : #a00d58;
$color-e : #bba276;
$color-f : #edf7f2;
$color-g : #edf7f2;
$color-h : #edf7f2;

/* Fonts */
@include font-face("telex", font-files("Telex/Telex-Regular.ttf")); 

$base-font-size:    16px!default;
$base-line-height:  24px!default;
$base-font-family:  sans-serif!default;
$base-ui-color:     #ccc!default;

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;

$h1 		: 42;
$h2 		: 24;
$h3 		: 18;
$h4 		: 16;
$h5 		: 12;
$h6 		: 12;

/* alternate font-sizing */
$smaller 	: 10;
$small 		: 12;
$medium 	: 14;
$big 		: 16;
$bigger 	: 18;
$biggest 	: 20;


/* sprite */
@import "icons/*.png";
@include all-icons-sprites; 

$icons-spacing : 20px; 
$icons: sprite-map("icons/*.png", $spacing: $icons-spacing);


/* debug */
$debug-mode: false!default;

/* Responsive */
$responsive: true!default;

$lap-start:         481px!default; /* breakpoint */
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;
 