/*------------------------------------*\
    body
\*------------------------------------*/
/**
 * Body : Corps de la page
 * 
 */

body {
	background: $color-a-light;
}

// HOME
.container {
	position: relative;
	z-index: 10;

	& > section {
		height: 100%;
		padding-top: 100px;
		position: relative;
		width: 100%;
	}

	& > section + section {
		padding-top: 100px;
	}

	#produits {
		@extend %ecran-produits;
	}

	#accueil {
		@extend %ecran-accueil;

		#animCoccinelle {
			position: absolute;
			top: 40px;
			left: 0;
		}
	}

	#groupement {
		@extend %ecran-groupement; 
	}

	#contact {
		@extend %ecran-contact;

		#animVer {
			position: absolute; 
			top: 40px;
			left: 0;
		}
	}

	.gamme {
		background: $color-g;
	}
}

// Home
.container-ecran { 
	margin: 0 auto;
	max-width: 1240px;
	padding-top: 100px;
	position: relative;
	z-index: 1000;
}

// page
.page-container, .page-footer { 
	margin: 0 auto;
	max-width: 1240px;
	padding-top: 100px;
}