/*------------------------------------*\
    body
\*------------------------------------*/
/**
 * Body : Corps de la page
 * 
 */

body {
	background: $color-a-light;
}

// HOME
.container {
	position: relative;
	z-index: 10;

	& > section {
		height: 100%;
		padding-top: 100px;
		width: 100%;
	}

	#produits {
		background: $color-a;
	}

	#accueil {
		background:  $color-b;
	}

	#groupement {
		background:  $color-c;
	}

	#contact {
		background:  $color-d;
	}
}

// Home
.container-ecran { 
	margin: 0 auto;
	max-width: 1240px;
	padding-top: 100px;
}

// page
.page-container, .page-footer { 
	margin: 0 auto;
	max-width: 1240px;
	padding-top: 100px;
}