/*------------------------------------*\
    content
\*------------------------------------*/
/**
 * Content : zones de contenus
 * 
 */

.content  {
 	margin-bottom: 80px; 
 	margin-top: 80px; 

 	& > article {
 		background: $color-f;
 	} 
} 

.home-content {
	.article {
		background: $color-f;
	}
}