/*------------------------------------*\
    header
\*------------------------------------*/
/**
 * Header : zones d'entête
 * 
 */

.footer {
	
	section {
		float: right;
		margin: 10px 20px 60px 0; 
		
		h3 {
			@include font-size(16px);

			line-height: 38px; 
			margin-bottom: 15px; 
		}
	}

	.footer-l {	
		position: relative;
	}

	.footer-r {	
		position: relative;
		
		p {			
			margin: 20px;
		}		

		p, a {
			color: white;
		}
	}
}
