/*------------------------------------*\
    header
\*------------------------------------*/
/**
 * Header : zones d'entête
 * 
 */

.header {
	background: white;
	min-height: 100px;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.logo {
	float: left;
}

.mainmenu {
	float: right;
}