section.alaune.alaune--first>(a>img.alaune__img)+div.alaune__info+h2.alaune__title+p.alaune__desc>img

<section class="alaune alaune--first">
	<a href=""><img src="" alt="" class="alaune__img"></a>
	<div class="alaune__info"></div>
	<h2 class="alaune__title"></h2>
	<p class="alaune__desc"><img src="" alt=""></p>
</section>

<!-- EXEMPLE FULL -->

<section class="alaune alaune--first line">
	<a href="http://tsg.local/?p=8"><img src="http://tsg.local/wp-content/uploads/2013/08/screens-tsg1-960x405.jpg" class="alaune__img"></a>
	<div class="alaune__info w10 left">
		<span>-26</span>ans
	</div>
	<h2 class="alaune__title w60 left txtcenter">
		<span class="alaune__title--big">Le phénomène de la rentrée !</span> Figaro magazine
	</h2>
	<p class="alaune__desc w20 right">
		<img src="/wp-content/themes/tsg/img/thumbs-alaune.jpg" alt="">
	</p>
</section>
