article.article.article--lm>(header.article__header>h1{Le bardage})+(p.article__chapo>lorem)+p*4>lorem

<article class="article article--lm">
	<header class="article__header">
		<h1>Le bardage</h1>
	</header>
	<p class="article__chapo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, est, ipsa, neque quae aperiam sunt labore eveniet molestias magni sequi maiores eligendi similique eos odio magnam! Temporibus, deserunt perspiciatis quos.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, illo, minus accusamus accusantium at cupiditate soluta asperiores id nostrum doloribus porro minima fugit inventore corporis officia illum repellendus explicabo molestias.</p>
	<p>Libero, debitis, placeat. Sequi, aliquid, harum reiciendis dicta a deleniti alias iusto aspernatur id hic reprehenderit dolorum dignissimos odit exercitationem odio adipisci officiis amet veritatis nisi explicabo. Laboriosam, magnam, molestiae.</p>
	<p>Quia, quis, vel, a reprehenderit cupiditate at iure ratione culpa ut quos possimus natus ea doloremque nesciunt ipsam id nemo placeat exercitationem error eos! Dolore in minima culpa illum modi.</p>
	<p>Saepe, quibusdam, est, accusantium, voluptatum repudiandae pariatur sit optio molestiae minima corrupti praesentium ipsa fugiat doloribus assumenda incidunt reprehenderit a et qui nesciunt temporibus deserunt at consequatur officiis ad dolore.</p>
</article>