a.brand>img

<a href="" class="brand"><img src="" alt=""></a>

<!-- EXEMPLE FULL -->
a[href="/"].brand.w50.left>img[src="/wp-content/themes/tsg/img/logo-theatre-saint-georges.png"][alt="Théatre Saint-Georges - 51 rue Saint-Georges 75009 PARIS"]

<a href="/" class="brand w50 left">
	<img src="/wp-content/themes/tsg/img/logo-theatre-saint-georges.png" alt="Théatre Saint-Georges - 51 rue Saint-Georges 75009 PARIS">
</a>