div.contact-txt.contact-txt--lm>h2.contact-txt__name+(ul>li.contact-txt__address*4)+h3.contact-form__title-form+form.contact-form__form>input.contact-form__input+textarea.contact-form__textarea+button.contact-form__button

<div class="contact-txt contact-txt--lm">
	<h2 class="contact-txt__name"></h2>
	<ul>
		<li class="contact-txt__address"></li>
		<li class="contact-txt__address"></li>
		<li class="contact-txt__address"></li>
		<li class="contact-txt__address"></li>
	</ul>
	<h3 class="contact-form__title-form"></h3>
	<form action="" class="contact-form__form">
		<input type="text" class="contact-form__input">
		<textarea name="" id="" cols="30" rows="10" class="contact-form__textarea"></textarea>
		<button class="contact-form__button"></button>
	</form>
</div>
