header[role="banner"].header>(a.brand>img)+(ul.nav>li*6>a{link})

<header role="banner" class="header">
	<a href="" class="brand"><img src="" alt=""></a>
	<ul class="nav">
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
	</ul>
</header>


<!-- 
	KNACSS 
	Logo à gauche sur 30%
	Menu à droite sur 70%
-->
header[role="banner"].header>(a.brand.brand--w30-left>img)+(ul.nav.nav--w70-right>li*6>a{link})

<header role="banner" class="header">
	<a href="" class="brand brand--w30-left"><img src="" alt=""></a>
	<ul class="nav nav--w70-right">
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
		<li><a href="">link</a></li>
	</ul>
</header>
