/* ----------------------------- */
/* ==typography                  */
/* ----------------------------- */

/**
 * 1. Base font-size (corresponds to 10px) adapted to REM unit 
 * 2. Orientation iOS font-size fix
 */
html {
  font: 62.5%/1.5 $font, Comic Sans MS, helvetica, arial, sans-serif; /* 1 */
  color: $gray;
  
  @media (orientation: landscape) and (max-device-width: 768px) {
    -webkit-text-size-adjust: 100%; /* 2 */
  }
}

/**
 * 1. Put the base font-size at 14px (1.4rem)
 */
body {
  @include rem($basefont); /* 1 */
}

/**
 * Font-sizing for content
 * Preserves vertical-rythm
 * Source: http://soqr.fr/vertical-rhythm/ 
 */
p, ul, ol, dl,
blockquote, pre,
td, th,
label, textarea,
caption, details, figure {
  @include rem($basefont);
  line-height: 1.5;
  margin: .75em 0 0;
}

h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
  font-weight: normal;
  margin: 21px 0 0 0;
}

h1, .h1-like, 
h2, .h2-like,
h3, .h3-like {
  line-height: 42px;
}

h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
  line-height: 21px;
}

h1, .h1-like { @include rem($h1); }
h2, .h2-like { @include rem($h2); }
h3, .h3-like { @include rem($h3); }
h4, .h4-like { @include rem($h4); }
h5, .h5-like { @include rem($h5); }
h6, .h6-like { @include rem($h6); }

/* alternate font-sizing */
.smaller   { @include rem($smaller); }
.small      { @include rem($small); }
.medium    { @include rem($medium); }
.big        { @include rem($big); }
.bigger     { @include rem($bigger); }
.biggest    { @include rem($biggest); }