/*------------------------------------*\
    alaune
\*------------------------------------*/
/**
 * alaune : mise en form d'un bloc "A la une" 
 * Généralement composé 
 * 	- d'une image ou d'une couleur de fond
 * 	- D'un titre
 *  - + 
 */

.alaune {
	position: relative;
	
	&.alaune--first {
		min-height: 424px;
	}
	
	&.alaune--second {
		min-height: 275px;
	}

	a > * {
		position: relative; 
	}

	.alaune__img {
		width: 100%; 
		position: absolute;
		top: 0;
		left: 0; 
	}

	.alaune__info {
		@include size-box(50px, 50px); 
		@include border-radius(50px);
		@include font-size(12px);
		
		color: white;
		text-align: center;
		line-height: 14px;
		padding-top: 10px;
		margin: 21px; 
		
		span {
			@include font-size(20px);
			display: block;
			font-weight: bold; 
			width: 100%; 	
		}
	}

	.alaune__title {
			
		@include font-size(14px);

		color: white;
		display: block;
		line-height: 20px;
		margin-top: 30px; 
		
		.alaune__title--big {
			@include font-size(22px);
			display: block;

			&::before {
				content: ("« ");
			}

			&::after {
				content: (" »");
			}
		}
	}

	.alaune__desc {
		margin: 20px 20px 20px 0;
		text-align: center;
	}
}


