/*------------------------------------*\
    article
\*------------------------------------*/
/**
 * Article : mise en form d'un article
 * Avec ses composant
 * 	- Titre
 * 	- Champeau
 *  - Sous-titre
 *  - ...
 */


.article {
	color: $color-a-dark;
	
	.page & {
		padding: 20px 40px 40px;
	}

	.home & {
		padding: 20px;

		.article__header {
				h1 {
				margin-top: 0;
			}	
		}
	}
		
	a {
		text-decoration: none; 
		color: $color-g;
	}

	ul {
		margin-left: 40px;
	} 

	.article__header {
		h1 {
			color: $color-a-dark;
		}	
	}

	.article__chapo {
		font-weight: bold;
	}

	.article__readmore {
		@include font-size(14px);
		text-align: right;	

		a {		
			@include icons-sprite(arrow-readmore-blue);
			
			background-position: sprite-position($icons, arrow-readmore-blue, 0, 3px);
			color: $color-g; 
			font-family: $hn-font-family;
			padding-left: 10px;
			text-decoration: none;				
		}
	}

	h2 {
		color: $color-g;
	}
}