/*------------------------------------*\
    article
\*------------------------------------*/
/**
 * Article : mise en form d'un article
 * Avec ses composant
 * 	- Titre
 * 	- Champeau
 *  - Sous-titre
 *  - ...
 */


.article {
	padding: 20px;
	
	a {
		text-decoration: none; 
	}

	ul {
		margin-left: 40px;
	}

	.article__header {
		h1 {

		}	
	}

	.article__chapo {
		font-weight: bold;
	}
}