/*------------------------------------*\
    Aside Infos
\*------------------------------------*/
/**
 * aside-infos : Type de block Aside, infos pour le type de contenus
 * Classiquement, infos pour titre / texte / readmore 
 * 
 */

.aside-infos {
	color: $color-g; 
	position: relative;
	overflow: hidden;

	// Couleur d'après les écrans
	#produits &, #contact & { 
		color: white; 
	}

	// Pour home on ajoute un padding à droite
	.home & {
		//padding-right: 20px;
	}

	.aside-infos__title {
		@include font-size(24px);
		@include icons-sprite(sheet-white-l);
		@include text-shadow($color-g 1px 1px 0); 

		&:before {
			border-bottom: 1px dotted white;
			content: " ";
			width: 100%;

			position: absolute;
			left: 52px;
			top: 46px;
		}

		background-position: sprite-position($icons, sheet-white-l, 0, 20px);
		line-height: 60px;
		padding-left: 45px; 
		margin: 0 0 30px;
		text-align: right;
	}

	.aside-infos__subtitle {
		@include font-size(22px);
		@include text-shadow($color-g 1px 1px 0); 
		margin-bottom: 10px;
	}

	.aside-infos__readmore {
		@include font-size(18px);
		text-align: right;	

		a {		
			@include icons-sprite(arrow-readmore-blue);
			
			background-position: sprite-position($icons, arrow-readmore-blue, 0, 5px);
			color: $color-g; 
			font-family: $hn-font-family;
			padding-left: 10px;
			text-decoration: none;

			#produits &, #contact & {
				color: white;
				background-position: sprite-position($icons, arrow-readmore-white, 0, 5px); 
			}
				
		}
	}

}

/**
 * For aside page
 */ 
.aside-infos--mod {
	
	.aside-infos__title {
		@include font-size(26px);
		@include text-shadow(none); 
		
		&:before {
			border: none;
		}

		&:after {
			border-bottom: 1px dotted white;
			content: " ";
			width: 89%;

			padding-left: 24px;
			position: absolute;
			right: 32px;
			top: 40px;
		}

		background-position: sprite-position($icons, sheet-white-r, 100%, 14px);
		line-height: 50px;
		padding-left: 0;
		padding-right: 45px;  
		text-align: left;
	}

	.category-module {
		li {
			background: white;
			margin-bottom: 5px; 
			margin-right: 15px; 
			padding: 5px;

			a {
				text-decoration: none;
				color: $color-e;
			}
		}
	}
}

/**
 * With BX-slider
 */ 
.aside-infos--bx {

	.aside-infos__title {
		margin-bottom: 10px;
	}

	.aside-infos__subtitle {
		margin-top: 20px;
	}
	
	.slider-recette {
		margin: 0;
		padding: 0;

		a {
			color: $color-d;
		}

		.slider-recette__layout-item {
			position: relative;
		}

		.slider-recette__item-txt {
			@include font-size(12px);

			background-color: transparentize(white, 0.25);
			bottom: 0;
			font-family: $hn-font-family;
			height: 40%;
			position: absolute;
			width: 100%;

			span {
				display: inline-block;
				line-height: 10px;
				text-align: center;
	    	vertical-align: middle;
	    	width: 100%; 
			}
		}
	}
}