/*------------------------------------*\
    mozaic
\*------------------------------------*/
/**
 * Mozaic : Type de mise en page pour plusieurs visuels
 */

/**
 * Mozaic
 */
.mozaic {
	@extend %block-blue;

	&.block-mauve {
		@extend %block-mauve;
	}

	// TITRE
	.mozaic__title {		
		@include font-size(21px);
		@include text-shadow(none); 
		@include icons-sprite(sheet-white-l);

		&:before {
			border-bottom: 1px dotted white;
			content: " ";
			width: 100%;

			position: absolute;
			right: 32px;
			top: 40px;
		}

		background-position: sprite-position($icons, sheet-white-r, 100%, 14px);  
		color: white;
		line-height: 50px;
		margin: 0;
		position: relative;
		text-align: left;
		top: -21px;
	}
	
	// UL
	.mozaic__layout {
		@extend .cf;

		list-style: none;
		margin: 0;
		padding: 0;
	}

	// LI
	.mozaic__item {
		//background-color: white;
		float: left;
		margin: 0 5px 5px 0; 
		position: relative;
		width: 31%;

		&:nth-child(3), &:nth-child(6), &:nth-child(9) { // TODO à optimiser
			margin-right: 0;
		}

		img {
			display: block;
			margin: 0 auto;
			width:  100%; 
		}

		a {
			color: $color-g;
			display: block;

			&:hover, .active {
				
			}
		}
		
	}
	
	// TEXT dans LI
	.mozaic__item-desc {
		@include font-size(12px);

		background-color: transparentize(white, 0.25);
		bottom: 0;
		font-family: $hn-font-family;
		height: 40%;
		position: absolute;
		width: 100%;
		max-width: 100%;

		span {
			display: inline-block;
			line-height: 10px;
			text-align: center;
    	vertical-align: middle;
    	width: 100%; 
		}
	}
}

/**
 * Mozaic avec pagination
 */
.mozaic {
	.mozaic-page {
		display: none;
	}

	.mozaic-page-active {
		display: block;
	}

	.mozaic-next {
		background: none;
		cursor: pointer;
		position: absolute;
		bottom: 0;
		right: 0; 

		div {
			height: 40px;
			left: 50%;
			margin-left: -20px;
			margin-top: -20px;
			position: absolute;
			top: 50%;
			width: 40px; 
		}
	}
}
    