/*------------------------------------*\
    nav
\*------------------------------------*/
/**
 * Nav : gestion des menus de navigations
 * Type de menu possible :
 * 	- Fil d'ariane
 * 	- menu pied de page
 * 	- ...
 *
 * Largement inspiré d'Inuit
 * https://github.com/csswizardry/inuit.css
 */

/**
 * Menu horizontal
 */
.nav {
    
    ul {
        list-style:none;
        @extend .cf;

        > li {

            &,
            > a {
               display: inline-block;
               *display: inline;
               zoom: 1;
            }
        } 
    }
}


/**
 * Menu vertical
 */
.nav--v {
    @include font-size(12px);

    list-style: none;
    margin: 0; 
    padding: 0; 

    > li {
        display: list-item;
        padding: 0; 

        > a {
            display: block;
            text-decoration: none; 
            
        }
    }
}