/*------------------------------------*\
    nav
\*------------------------------------*/
/**
 * Nav : gestion des menus de navigations
 * Type de menu possible :
 * 	- Fil d'ariane
 * 	- menu pied de page
 * 	- ...
 *
 * Largement inspiré d'Inuit
 * https://github.com/csswizardry/inuit.css
 */

/**
 * Menu horizontal
 */
.nav {
  list-style:none;
  margin-left:0;
  @extend .cf;
  
  > li {
    
    &,
    > a {
      color: $color-g;
      display:inline-block;
      *display:inline;
      text-decoration: none;
      zoom:1;
    }
  }
}


/**
 * Menu principal
 */
.nav-mainmenu {
  @include font-size(30px);

  font-family: $hn-font-family;

  > li {
    @include icons-sprite(sep-menu);

    background-position: sprite-position($icons, sep-menu, 0, 4px);
    padding-left: 20px;

    &:first-child {
      background: none;   
    }

    a:hover {
      color: transparentize($color-g, 0.5);
    }
  }
}