/*------------------------------------*\
    skipmenu
\*------------------------------------*/
/**
 * Skipmenu : Menu de haut de page
 * Liens d'évitements
 * 
 */

.skipmenu {
	background: $yellow; 
	height: 10px;
	width: 100%; 
}

